body{
    background-color: antiquewhite;
    padding: 20px;
}

h1,h2{
font-family:'Fredericka the Great', Trebuchet MS, Arial;
color: #ff5d05;
font-size: 200%;
}

#peppers {

    max-height: 375px;
    object-fit: cover;
    width: 100%;
}

#intro{
    text-align:center;
    background-color: green;
    color: antiquewhite;
    padding: 15px;
    width:75%;
    margin: 20px auto;
 
}


p, li{
    font-family: 'Roboto', sans-serif;
    color: green;
}



.video, .footer {
    text-align:center;
    background-color: #ff5d05;
    color: antiquewhite;
    padding: 5px;
 
}

.media{
        max-width: 75%;
        width: "560"; 
        height: "315";
        position: relative;
        margin: 0 auto;    
}


#border{ 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(border.png) 30 stretch;
  }




/* 
  google fonts:

  font-family: 'Fredericka the Great', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Josefin Sans', sans-serif; */